/*----------------------------------------
   Basic Setup 
  ----------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* background: #ED5D32; */
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    color: rgb(100, 99, 99);
}

/*----------------------------------------
   Reusable Components  
  ----------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*----------------------------------------
   Headings 
  ----------------------------------------*/

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    word-spacing: 8px;
}

h2 {
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 180%;
    text-align: center;
    margin-bottom: 20px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 55%;
    margin: 0 auto;
    margin-top: 20px;
}

h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 110%;
    margin-bottom: 15px;
}

/*----------------------------------------
   paragraphs
  ----------------------------------------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*----------------------------------------
   Meals
  ----------------------------------------*/

.section-features .long-copy {
    margin-bottom: 40px;
}

/*----------------------------------------
  Icons
  ----------------------------------------*/

.icon-big {
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    margin-left: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
}

/*----------------------------------------
   HEADER SECTION  
  ----------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/hero.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    border-radius: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0.5;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
    font-weight: 300;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: rgba(245, 245, 245, 0.925);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*----------------------------------------
   Meals
  ----------------------------------------*/

.section-meals {
    padding: 0;
    margin-bottom: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(2);
    transition: transform 0.4s, opacity 0.4s;
    opacity: 0.7;
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/*----------------------------------------
   How it Works 
  ----------------------------------------*/

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 90px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    float: left;
    margin-right: 25px;
}

.works-step p {
    padding-top: 10px;
}

.btn-app img {
    height: 50px;
    width: 30%;
    margin-right: 20px;
    margin-top: 50px;
    margin-left: 20px;
    transition: transform 0.4s ease, opacity 0.4s;
    ;
    opacity: 0.9;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img:hover {
    transform: scale(1.2);
    opacity: 1;
}

/*----------------------------------------
   Cities
  ----------------------------------------*/

.box img {
    width: 100%;
    height: 25vh;
    margin-right: 10px;
}

.city-feature {
    margin-bottom: 5px;
}

/*----------------------------------------
   Customer Reviews
  ----------------------------------------*/

.section-customers {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/back-customers-min.jpg");
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote {
    font-style: italic;
    padding: 2%;
    line-height: 145%;
}

blockquote:before {
    content: '\201C  ';
    font-size: 400%;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

/*----------------------------------------
   Subscription Plans
  ----------------------------------------*/

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 5px 5px 15px rgb(138, 132, 132);
}

.plan-box div {
    padding: 15px;
    border: 1px solid #f4f4f4;
}

.plan-box div:first-child {
    background-color: #f1f1f1
}

.plan-box div:last-child {
    text-align: center;
}

.plan-price {
    font-size: 200%;
    margin-bottom: 10px;
    color: #e67e22;
}

.plan-price span {
    font-size: 50%;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box ul span {
    padding-right: 20px;
}

/*----------------------------------------
Contact Form 
  ----------------------------------------*/

.section-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type=checkbox] {
    margin: 10px 5px 15px 0;
}

*:focus {
    outline: none;
}

/*----------------------------------------
   Footer
  ----------------------------------------*/

footer {
    background-color: #333;
    padding: 16px;
    font-size: 80%;
}
footer p{
    color:#888;
    text-align: center; 

}

.footer-nav {
    list-style: none;
    float: left;
}

.social-icons {
    list-style: none;
    float: right;
}

.social-icons li,
.footer-nav li {
    display: inline-block;
    margin-right: 10px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}
.social-icons li a:link,
.social-icons li a:visited {
    font-size: 150%;
    margin-right: 10px;
   
}

.ion-social-facebook:hover {
    color: #3b5998;
    transition: color 0.2s;
}

.ion-social-twitter:hover {
    color: #55acee;
    transition: color 0.2s;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
    transition: color 0.2s;
}

.ion-social-youtube:hover {
    color: #bb0000;
    transition: color 0.2s; 
}

.footer-nav li a:hover,
.footer-nav li a:active
{
    text-decoration: none;
    border: 0;
    color: rgb(221, 221, 221);
    transition:color 0.2s;
}

/*----------------------------------------
   Links 
  ----------------------------------------*/

a:link,
a:visited {
    color: #bf6516;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: all 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*----------------------------------------
   Buttons 
  ----------------------------------------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #bf6516;
    color: white;
}